useDynLib(bda, .registration = TRUE, .fixes = ".F_")
export(.bdaConnect)
exportPattern("^[^\\.]")

S3method(print, mixlognormal) 
S3method(print, scb) 
S3method(print, VAS) 
S3method(plot, VAS) 
S3method(lines, VAS) 

importFrom("stats", "approx", "dlnorm", "dnorm", "plnorm", "pnorm",
           "rlnorm", "rnorm", "runif", "lm", "qnorm", "sd", "pchisq",
           "bw.nrd","density", "median", "quantile", "qt")

importFrom("graphics", "lines", "abline", "plot", "points")
