useDynLib(bda, .registration = TRUE, .fixes = ".F_")
export(.bdaConnect)
exportPattern("^[^\\.]")

S3method(Restart, CCUSUM)
S3method(Restart, default) 
S3method(bde, bdata) 
S3method(bde, default) 
S3method(bde, histogram)
S3method(binning, default) 
S3method(binning, histogram) 
S3method(cusum, default) 
S3method(fit.Weibull, bdata)
S3method(fit.Weibull, default) 
S3method(fit.Weibull, histogram) 
S3method(fit.mixnorm, bdata)
S3method(fit.mixnorm, default) 
S3method(fit.mixnorm, histogram) 
S3method(gof, FMKL) 
S3method(gof, GB) 
S3method(gof, bdata)
S3method(gof, default) 
S3method(gof, histogram) 
S3method(lines, Dagum) 
S3method(lines, FMKL) 
S3method(lines, GB)
S3method(lines, GWD) 
S3method(lines, glm.dose) 
S3method(lines, histosmooth) 
S3method(lines, nmix) 
S3method(lpsmooth, bdata)
S3method(lpsmooth, default) 
S3method(lpsmooth, histogram) 
S3method(oddsratio, data.frame)
S3method(oddsratio, default) 
S3method(oddsratio, matrix) 
S3method(plot, BCUSUM) 
S3method(plot, CCUSUM) 
S3method(plot, Dagum)
S3method(plot, FMKL) 
S3method(plot, GB) 
S3method(plot, GWD) 
S3method(plot, bdata) 
S3method(plot, broc) 
S3method(plot, glm.dose)
S3method(plot, histosmooth) 
S3method(plot, nmix) 
S3method(print, BCUSUM) 
S3method(print, CCUSUM) 
S3method(print, Dagum)
S3method(print, FMKL) 
S3method(print, GB) 
S3method(print, GWD) 
S3method(print, bdata) 
S3method(print, broc) 
S3method(print, glm.dose)
S3method(print, histosmooth) 
S3method(print, nmix) 
S3method(print, odds)

importFrom("graphics", "abline", "boxplot", "hist", "lines", "par",
            "plot", "plot.default", "points", "polygon", "text",
            "title")
importFrom("stats", "acf", "approx", "binomial", "bw.nrd", "coef",
            "dbeta", "density", "dexp", "dnorm", "dweibull", "family",
            "fft", "glm", "lm", "median", "nls", "optim", "pbeta",
            "pchisq", "pexp", "pnorm", "poisson", "pweibull", "qbeta",
            "qchisq", "qexp", "qnorm", "qqline", "qqnorm", "quantile",
            "qweibull", "rbeta", "rexp", "rnorm", "runif", "sd",
            "spline", "ts.plot", "uniroot", "var", "vcov")

