useDynLib(bda, .registration = TRUE, .fixes = ".F_")
export(.bdaConnect)
exportPattern("^[^\\.]")

S3method(print, mixlognormal) 
S3method(print, scb) 
S3method(print, VAS) 
S3method(plot, VAS) 
S3method(lines, VAS) 

S3method(print, bdata) 
S3method(plot, bdata)
S3method(binning, default)
S3method(binning, histogram)

S3method(print, FSD) 
S3method(plot, FSD) 
S3method(lines, FSD) 
S3method(ZipfPlot, FSD) 
S3method(ZipfPlot, default) 
S3method(ZipfPlot, histogram) 
S3method(ZipfPlot, bdata) 

importFrom("stats", "approx", "dlnorm", "dnorm", "plnorm", "pnorm",
           "rlnorm", "rnorm", "runif", "lm", "qnorm", "sd", "pchisq",
           "bw.nrd","density", "median", "quantile", "qt", "coef",
           "optim","optimize","pexp","uniroot","pweibull","dweibull",
           "chisq.test","dexp","var","spline","fft", "optimise")

importFrom("graphics", "lines", "abline", "plot", "points", "hist",
	   "contour","plot.default", "segments")
